.form-wrapper {
  background: $color-light-white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $pad-double;
  max-width: 600px;
}

.form-footer {
  margin-top: $pad-half;
}
