.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;

.section {
  background: linear-gradient(164deg, rgba(2,0,36,.9) 0%, rgba(0,38,104,.9) 75%, rgba(50,103,113,.8) 100%);
  width: 100%;
  padding: $pad-triple 0;

  &.-grey {
    background: $color-grey;
  }
}

.home-content {
  padding: $pad-triple;
  width: 100%;

}

.home-list {
  padding: 0 2em;
  max-width: 400px;
}

.goal-bar {
  display: flex;
  border-radius: 5px;
}

.goal-list li {
  font-size: 18px;
  margin-bottom: $pad;
}
}
