body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

ul,ol {
  text-align: left;
}

.font--yellow {
  color: $color-yellow;
}

.noTop--margin {
  margin-top: 0;
}

.noBottom--margin {
  margin-bottom: 0;
}
